.apply-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    z-index: 2;
}
.apply{
    position: relative;
    background-color: #fb6356;
    color: white;
    padding: 10px 115px;
    border-radius: 10px;
    transition: 0.5s ease-in-out
}

.apply:hover, .apply-container-categories .apply:hover, .apply-container-search .apply:hover{
    background-color: #bb4c42;
}

/* CATEGORIES */
.apply-container-categories{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-top: 10px;
}

.apply-container-categories .apply{
    position: relative;
    background-color: #fb6356;
    color: white;
    padding: 5px 125px;
    border-radius: 10px;
    transition: 0.5s ease-in-out
}

/* SEARCH */
.apply-container-search{
    display: flex;
    align-items: center;
    z-index: 2;
    margin-top: 10px;
}

.apply-container-search .apply{
    position: relative;
    background-color: #fb6356;
    color: white;
    padding: 5px 50px;
    border-radius: 10px;
    transition: 0.5s ease-in-out
}