/* Container */
.container{
    position: absolute;
    top: 125px; /* Adjust this value based on your header's height */
    left: 0;
    right: 0;
    bottom: 0;
}

/*bookings*/
.booking-container{
  margin: 0 auto;
  width: 1250px;
  height: 100%;
}

.booking-container label{
  font-weight: bold;
  font-size: 40px;
}

.booking-container table{
  border-collapse: collapse;
  width:100%;
}

.booking-container tr{
  cursor:pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  display:flex;
  align-items: center;
  width: 1250px;
  background-color: rgb(236, 236, 236);
  border-radius:10px;
  padding: 10px 35px 10px 35px;
  transition: 0.3s;
}

.booking-container tr:hover{
  background-color: white;
}

.booking-container td{
  padding:5px;
  align-items: center;
}


.booking-container .image{
  display:flex;
  width:100px;
}

.booking-container .date-title{
  width: 560px;
}

.booking-container .date-title-past{
  width: 720px;
}

.booking-container .cancel{
  width:120px;
  background-color:#474747;
  color:white;
  border-radius: 5px;
  text-align: center;
  margin-right: 30px;
  text-decoration: none;
}

.booking-container .cancel:hover{
  background-color:#a33030;
  text-decoration: none;
  color: white;
}

.cancel h2{
  color: white;
}

.booking-container .status{
  width:120px;
  background-color:#da4040;
  color:white;    
  border-radius: 5px;
  text-align: center;
}

.booking-container .price{
  width:200px;
  display:flex;
  justify-content: end;
}


.image img{
  border-radius: 5px;
  border:solid 3px;
}

.booking-container h1,h2{
  text-transform: uppercase;
}

.booking-container img{
  height:80px;
  width:80px;
  object-fit: cover;
}


.booking-container h2{
  font-size: 15px;
  font-weight:500;
}

.booking-container h1{
  font-size: 25px;
}


/*bookings*/
.endSpace{
  height:50px;
  width:100%;
}