.booking-details-container{
    border: 5px solid #e78300;
}

.booking-details-container .completed{
    color: #e78300;
}

line, .imagebox.payment, .imagebox.arriving, .imagebox.finished, .imagebox.booking, 
.imagebox.booking img, .imagebox.payment img{
    opacity: 0.25;
}

.imagebox.booking, .imagebox.payment{
    border: solid 7px #e78300;
}

.status-icons-container .bookingline {
    background-color: #e78300!important; /* Change to your desired color */
}

.booking h2 a{
    font-size: 10px;
    padding-left: 5px;
    color: black;
    margin-left: 10px;  
}

.booking h2{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.booking h2 a{
    background: none!important;
}

.booking-placed-button{
    display: block;
    background: none!important;
}   