<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/VIEWS/Customer/CSS+JS/default.css">
    <link rel="stylesheet" href="/VIEWS/Customer/CSS+JS/bookings.css">
    <title>ODDJOBS | BOOKINGS</title>
  </head>
  <body>
  <!-- HEADER SECTION -->
  <div class="header">
    <div class="inner_header">
      <a class="logo_container" href="/General/home/home.html">
        <div class="logo_box">
          <h1>ODD<span>JOBS</span></h1>
        </div>
      </a>

      <ul class="nav">
        <li><a href="/VIEWS/Customer/services.html">SERVICES</a></li>
        <li><a href="/VIEWS/Customer/bookings.html">BOOKINGS</a></li>
        <li class="user-greeting"><a href="#">Hi, Juan</a></li>
        <li class="pfp" tabindex="0">
          <div class="dropdown">
            <img src="/VIEWS/Customer/Images/juan.png" alt="User Profile" class="dropbtn">
            <div class="dropdown-content">
              <a href="user-profile.html">User Profile</a>
              <a href="#">Switch to worker view</a>
              <a href="billings.html" class="billings">Billings</a>
              <div class="line"></div>
              <a href="/General/home/home.html" class="signout">Log Out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- END OF HEADER SECTION -->
    <div class="container">
      <div class="booking-container">
        <label>CURRENT BOOKINGS</label>
        <table>
          <tr onClick="document.location.href='/VIEWS/Customer/bookings-details.html';">
            <td class="image">
              <img src="/General/home/images/carousels/MassageTherapy.jpg">
            </td>
            <td class="date-title">
              <h2>14/11/2023</h1>
              <h1>MASSAGE THERAPY</h1>
            </td>
            <td class="status">
              <h2>On going</h2>
            </td>
            <td class="price">
              <h2>total price: ₱2500.00</h2>
            </td>
          </tr>
          <tr>
            <td class="image">
              <img src="/VIEWS/Customer/Images/Icons/samplePhoto.png">
            </td>
            <td class="date-title">
              <h2>14/11/2023</h1>
              <h1>FOOT SPA</h1>
            </td>
            <td class="status">
              <h2>APPROVED</h2>
            </td>
            <td class="price">
              <h2>total price: ₱1100.00</h2>
            </td>
          </tr>
          <tr>
            <td class="image">
              <img src="/VIEWS/Customer/Images/icons/samplePhoto.png">
            </td>
            <td class="date-title">
              <h2>14/11/2023</h1>
              <h1>GARDENING</h1>
            </td>
            <td class="status">
              <h2>PENDING</h2>
            </td>
            <td class="price">
              <h2>total price: ₱2300.00</h2>
            </td>
          </tr>
        </table>
        <label>PAST BOOKINGS</label>
        <table>
          <tr>
            <td class="image">
              <img src="/VIEWS/Customer/Images/icons/samplePhoto.png">
            </td>
            <td class="date-title">
              <h2>14/11/2023</h1>
              <h1>MASSAGE THERAPY</h1>
            </td>
            <td class="status">
              <h2>On going</h2>
            </td>
            <td class="price">
              <h2>total price: ₱2500.00</h2>
            </td>
          </tr>
          <tr>
            <td class="image">
              <img src="/VIEWS/Customer/Images/icons/samplePhoto.png">
            </td>
            <td class="date-title">
              <h2>14/11/2023</h1>
              <h1>FOOT SPA</h1>
            </td>
            <td class="status">
              <h2>APPROVED</h2>
            </td>
            <td class="price">
              <h2>total price: ₱1100.00</h2>
            </td>
          </tr>
          <tr>
            <td class="image">
              <img src="/VIEWS/Customer/Images/icons/samplePhoto.png">
            </td>
            <td class="date-title">
              <h2>14/11/2023</h1>
              <h1>GARDENING</h1>
            </td>
            <td class="status">
              <h2>PENDING</h2>
            </td>
            <td class="price">
              <h2>total price: ₱2300.00</h2>
            </td>
          </tr>
        </table>
      </div>
    </div>
</body>
</html>