<!DOCTYPE html>
<html lang="en">
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/VIEWS/Customer/CSS+JS/default.css">
  <link rel="stylesheet" href="/VIEWS/Customer/CSS+JS/services.css">
  <title>ODDJOBS | SERVICES</title>
</head>

<body>
  <!-- HEADER SECTION -->
  <div class="header">
    <div class="inner_header">
      <a class="logo_container" href="/General/home/home.html">
        <div class="logo_box">
          <h1>ODD<span>JOBS</span></h1>
        </div>
      </a>

      <ul class="nav">
        <li><a href="/VIEWS/Customer/services.html">SERVICES</a></li>
        <li><a href="/VIEWS/Customer/bookings.html">BOOKINGS</a></li>
        <li class="user-greeting"><a href="#">Hi, Juan</a></li>
        <li class="pfp" tabindex="0">
          <div class="dropdown">
            <img src="/VIEWS/Customer/Images/juan.png" alt="User Profile" class="dropbtn">
            <div class="dropdown-content">
              <a href="user-profile.html">User Profile</a>
              <a href="#">Switch to worker view</a>
              <a href="billings.html" class="billings">Billings</a>
              <div class="line"></div>
              <a href="/General/home/home.html" class="signout">Log Out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- END OF HEADER SECTION -->
  <div class="container">
    <a href="#" onclick="history.back();" class="back-button"> &larr; Back</a>
    <div class="services-container">
      <div class="services-container-row">
        <div class="services-container-col">
          <div class="searchbar">
            <img src="/VIEWS/Customer/Images/icons/magnifying-glass.png">
            <input type="text" placeholder="Masseur, Pet Caretaker, and more Odd-Jobs">
          </div>
        </div>
      </div>
      <div class="services-container-row">
        <h1>About 4 Results</h1>
      </div>
      <div class="services-container-row">
        <button class="other-categories-row"
          onClick="document.location.href='/VIEWS/Customer/services-details.html';">
          <div class="other-categories-content">
            <div class="image">
              <img src="/VIEWS/Customer/Images/icons/samplePhoto.png">
            </div>
            <div class="space"></div>
            <div class="description">
              <h1>DISCORD MODERATOR AND SERVER ADMINISTRATOR</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex nisi, congue sit amet varius quis,
                convallis et nulla. Duis ac est diam. Maecenas diam nunc, vestibulum vitae ligula quis, consectetur
                accumsan ligula. In non condimentum ligula, vel posuere neque. Donec id maximus ipsum. Nulla quis metus
                non mi pulvinar aliquam. Duis sit amet lectus semper diam convallis aliquam vitae vitae tellus. Donec in
                commodo mauris.</p>
            </div>
          </div>
        </button>
      </div>
      <div class="services-container-row">
        <button class="other-categories-row"
          onClick="document.location.href='/VIEWS/Customer/services-details.html';">
          <div class="other-categories-content">
            <div class="image">
              <img src="/VIEWS/Customer/Images/icons/samplePhoto.png">
            </div>
            <div class="space"></div>
            <div class="description">
              <h1>CHAUFFER</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex nisi, congue sit amet varius quis,
                convallis et nulla. Duis ac est diam. Maecenas diam nunc, vestibulum vitae ligula quis, consectetur
                accumsan ligula. In non condimentum ligula, vel posuere neque. Donec id maximus ipsum. Nulla quis metus
                non mi pulvinar aliquam. Duis sit amet lectus semper diam convallis aliquam vitae vitae tellus. Donec in
                commodo mauris.</p>
            </div>
          </div>
        </button>
      </div>
      <div class="services-container-row">
        <button class="other-categories-row"
          onClick="document.location.href='/VIEWS/Customer/services-details.html';">
          <div class="other-categories-content">
            <div class="image">
              <img src="/VIEWS/Customer/Images/icons/samplePhoto.png">
            </div>
            <div class="space"></div>
            <div class="description">
              <h1>LAUNDRY SERVICE</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex nisi, congue sit amet varius quis,
                convallis et nulla. Duis ac est diam. Maecenas diam nunc, vestibulum vitae ligula quis, consectetur
                accumsan ligula. In non condimentum ligula, vel posuere neque. Donec id maximus ipsum. Nulla quis metus
                non mi pulvinar aliquam. Duis sit amet lectus semper diam convallis aliquam vitae vitae tellus. Donec in
                commodo mauris.</p>
            </div>
          </div>
        </button>
      </div>
      <div class="services-container-row">
        <button class="other-categories-row"
          onClick="document.location.href='/VIEWS/Customer/services-details.html';">
          <div class="other-categories-content">
            <div class="image">
              <img src="/VIEWS/Customer/Images/icons/samplePhoto.png">
            </div>
            <div class="space"></div>
            <div class="description">
              <h1>MASSAGE THERAPY</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex nisi, congue sit amet varius quis,
                convallis et nulla. Duis ac est diam. Maecenas diam nunc, vestibulum vitae ligula quis, consectetur
                accumsan ligula. In non condimentum ligula, vel posuere neque. Donec id maximus ipsum. Nulla quis metus
                non mi pulvinar aliquam. Duis sit amet lectus semper diam convallis aliquam vitae vitae tellus. Donec in
                commodo mauris.</p>
            </div>
          </div>
        </button>
      </div>
      <div class="services-container-row">
        <div class="endSpace">
        </div>
      </div>
    </div>
  </div>
</body>

</html>