<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/VIEWS/Customer/CSS+JS/default.css">
    <link rel="stylesheet" href="/VIEWS/Customer/CSS+JS/services.css">
    <link rel="stylesheet" href="/VIEWS/Customer/CSS+JS/services-details.css">
    <title>ODDJOBS | SERVICES</title>
</head>

<body>
    <!-- HEADER SECTION -->
    <div class="header">
        <div class="inner_header">
            <a class="logo_container" href="/General/home/home.html">
                <div class="logo_box">
                    <h1>ODD<span>JOBS</span></h1>
                </div>
            </a>

            <ul class="nav">
                <li><a href="/VIEWS/Customer/services.html">SERVICES</a></li>
                <li><a href="/VIEWS/Customer/bookings.html">BOOKINGS</a></li>
                <li class="user-greeting"><a href="#">Hi, Juan</a></li>
                <li class="pfp" tabindex="0">
                    <div class="dropdown">
                        <img src="/VIEWS/Customer/Images/juan.png" alt="User Profile" class="dropbtn">
                        <div class="dropdown-content">
                            <a href="user-profile.html">User Profile</a>
                            <a href="#">Switch to worker view</a>
                            <a href="billings.html" class="billings">Billings</a>
                            <div class="line"></div>
                            <a href="/General/home/home.html" class="signout">Log Out</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- END OF HEADER SECTION -->
    <section class="allbox">
        <a href="#" onclick="history.back();" class="back-button"> &larr; Back</a>
        <div class="topbox">
            <style scoped>
                @import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
            </style>
            <div class="innerbox">
                <div class="innerbox2">
                    <div class="banner">
                        <div class="image">
                            <img src="/VIEWS/Customer/Images/icons/samplePhoto.png">
                        </div>
                    </div>
                    <div class="order-details">
                        <div class="order">
                            <div class="title">
                                <h1>ORDER</h1>
                            </div>
                            <div class="content-row">
                                <label for="cars">Orders</label>
                            </div>
                            <div class="content-row">
                                <input type="text">
                            </div>
                            <div class="content-row">
                                <label for="cars">Duration <span>(hour)</span></label>
                            </div>
                            <div class="content-row">
                                <input type="text">
                            </div>
                            <div class="content-row">
                                <label for="payment">payment options</label>
                            </div>
                            <div class="content-row">
                                <select id="payment" name="payment">
                                    <option value="volvo">&#xf1f0; &nbsp;<span>2204</span></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="booking-details">
                        <div class="booking">
                            <div class="title">
                                <h1>BOOKING DETAILS</h1>
                            </div>
                            <table>
                                <tr>
                                    <th>BASE PRICE:</th>
                                    <td>₱500</td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <th>ORDER:</th>
                                    <td>1</td>
                                </tr>
                            </table>
                            <table class="duration">
                                <tr>
                                    <th>DURATION:</th>
                                    <td>5</td>  
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <th>TOTAL PRICE:</th>
                                    <td>₱2500</td>
                                </tr>
                            </table>
                            <div class="content-row">
                                <button class="content-col">BOOK NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottombox">
            <div class="innerbox">
                <div class="description-container">
                    <div class="description">
                        <h1>MASSAGE THERAPY</h1>
                        <p>Indulge in blissful relaxation with our professional in-home massage service, tailored to
                            your needs and
                            delivered right to your doorstep.</p>
                        <div class="selector">
                            <button class="active-selector">OVERVIEW</button>
                            <button>SPECIFICS</button>
                            <button>POLICIES</button>
                        </div>
                        <div class="overview-specifics-policies">
                            <h1>What does this service provide?</h1>
                            <ul>
                                <li>Skilled therapists delivering therapeutic techniques</li>
                                <li>Convenient in-home massages tailored to you</li>
                                <li>Relaxation and stress reduction</li>
                                <li>Relief from muscle tension and pain</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>