<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/VIEWS/Customer/CSS+JS/workers-profile.css">
    <title>ODDJOBS | BOOKINGS</title>
  </head>
  <body>
  <!-- HEADER SECTION -->
  <div class="header">
    <div class="inner_header">
      <a class="logo_container" href="/General/home/home.html">
        <div class="logo_box">
          <h1>ODD<span>JOBS</span></h1>
        </div>
      </a>

      <ul class="nav">
        <li><a href="/VIEWS/Customer/services.html">SERVICES</a></li>
        <li><a href="/VIEWS/Customer/bookings.html">BOOKINGS</a></li>
        <li class="user-greeting"><a href="#">Hi, Juan</a></li>
        <li class="pfp" tabindex="0">
          <div class="dropdown">
            <img src="/VIEWS/Customer/Images/juan.png" alt="User Profile" class="dropbtn">
            <div class="dropdown-content">
              <a href="user-profile.html">User Profile</a>
              <a href="#">Switch to worker view</a>
              <a href="billings.html" class="billings">Billings</a>
              <div class="line"></div>
              <a href="/General/home/home.html" class="signout">Log Out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- END OF HEADER SECTION -->
    <div class="container">
      <a href="#" onclick="history.back();" class="back-button"> &larr; Back</a>
      <a href="#" class="report-button">REPORT</a>
      <div class="workers-profile-container">
        <div class="card-container">
          <div class="profile-card-container">
            <div class="profile-imgbox">
              <img src="/VIEWS/Customer/Images/icons/rotten.jpg">
            </div>
            <div class="profile-card">
              <h1>Johnny Rotten</h1>
              <h2>Sex Pistols Frontman</h2>
              <div class="profile-description">
                <p>John Joseph Lydon, also known by his former stage name Johnny Rotten, is an English-American singer and songwriter. He was the lead vocalist of the punk rock band the Sex Pistols, which was active from 1975 to 1978, and again for various revivals during the 1990s and 2000s.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="ratings-card">
            <h1>RATINGS</h1>
            <div class="ratings">
              <table>
                <tr>
                  <td>
                    <img src="/VIEWS/Customer/Images/icons/randomPerson.png">
                  </td>
                  <td>
                    <h1>STEVE JONES</h1>
                    <div class="stars">
                      <span>★</span>
                      <span>★</span>
                      <span>★</span>
                      <span>★</span>
                      <span>★</span>
                    </div>
                    <h3>I’m rating myself. Please!</h3>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="/VIEWS/Customer/Images/icons/randomPerson.png">
                  </td>
                  <td>
                    <h1>PAUL COOK</h1>
                    <div class="stars">
                      <span>★</span>
                      <span>★</span>
                      <span>★</span>
                      <span>★</span>
                      <span>★</span>
                    </div>
                    <h3>I’m rating myself. Please!</h3>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="/VIEWS/Customer/Images/icons/randomPerson.png">
                  </td>
                  <td>
                    <h1>SID VICIOUS</h1>
                    <div class="stars">
                      <span>★</span>
                      <span>★</span>
                      <span>★</span>
                      <span>★</span>
                      <span>★</span>
                    </div>
                    <h3>God save the queen!</h3>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="applied-jobs-card">
            <h1>APPLIED JOBS</h1>
            <div class="applied-jobs">
              <table>
                <tr>
                  <td>
                    <img src="/VIEWS/Customer/Images/icons/suitcase.png">
                  </td>
                  <td>
                    <h1>JOB 1</h1>
                    <h3>Random Job 1</h3>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="/VIEWS/Customer/Images/icons/suitcase.png">
                  </td>
                  <td>
                    <h1>JOB 2</h1>
                    <h3>Random Job 2</h3>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="/VIEWS/Customer/Images/icons/jobs.jpg">
                  </td>
                  <td>
                    <h1>STEVE JOBS</h1>
                    <h3>Co-founder of Apple</h3>
                  </td>
                </tr>
              </table>
            </div>
        </div>
      </div>
    </div>
</body>
</html>