<!DOCTYPE html>
<html lang="en">
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/VIEWS/Worker/CSS+JS/default.css" />
  <link rel="stylesheet" href="/VIEWS/Worker/CSS+JS/user-profile-edit.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>ODDJOBS | PROFILE</title>
</head>

<body>
  <!-- HEADER SECTION -->
  <div class="header">
    <div class="inner_header">
      <a class="logo_container" href="/General/home/home.html">
        <div class="logo_box">
          <h1>ODD<span>JOBS</span></h1>
        </div>
      </a>

      <ul class="nav">
        <li><a href="/VIEWS/Worker/services.html">SERVICES</a></li>
        <li><a href="/VIEWS/Worker/bookings.html">BOOKINGS</a></li>
        <li class="user-greeting"><a href="#">Hi, Johnny</a></li>
        <li class="pfp" tabindex="0">
          <div class="dropdown">
            <img src="/VIEWS/Worker/Images/Johnny.jpg" alt="User Profile" class="dropbtn" />
            <div class="dropdown-content">
              <a href="user-profile.html">User Profile</a>
              <a href="worker-profile.html">Worker Profile</a>
              <a href="billings.html">Billings</a>
              <a href="#">Switch to Customer view</a>
              <div class="line"></div>
              <a href="/General/home/home.html" class="signout">Log Out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- END OF HEADER SECTION -->

  <a href="profile-Worker-edit.html" onclick="" class="report-button">REPORT</a>
  <div class="container">
    <!-- USER CARD -->
    <form>
      <div class="user-card">
        <div class="profile-pic">
          <div class="centerer">
            <label for="fileInput1" class="styled-input" id="label1"
              onclick="document.getElementById('fileInput1').click(); return false;">
              Upload Photo
            </label>
            <input type="file" id="fileInput1" class="file-input" style="display: none" />
            <img src="/VIEWS/Worker/Images/Johnny.jpg" />
          </div>
        </div>
        <div class="edit-button-box">
          <a href="user-profile.html" class="edit-button">
            <p>SAVE PROFILE</p>
          </a>
        </div>
        <div class="user-info">
          <div class="user-info-box">
            <div class="input-field">
              <h3>Edit your account details:</h3>
              <input type="url" placeholder="Facebook Link" autocomplete="nope" />
              <input type="url" placeholder="Instagram link" autocomplete="nope" />
              <input type="email" placeholder="Email" autocomplete="nope" />
              <input id="phone" type="tel" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Phone Number"
                autocomplete="nope" />
              <input type="date" autocomplete="nope" />
              <h4>Current Address:</h4>
              <div class="input-field-select">
                <select id="Region" size="1">
                  <option value="" selected="selected">
                    Select Region
                  </option>
                </select>
                <select id="City" size="1">
                  <option value="" selected="selected">Select City</option>
                </select>
              </div>
              <div class="input-field-select-rowtwo">
                <select id="Barangay" size="1">
                  <option value="" selected="selected">
                    Select Barangay
                  </option>
                </select>
                <input type="tel" pattern="\d{4}" placeholder="Zip Code" maxlength="4" autocomplete="nope"
                  class="zipcode" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <script src="/VIEWS/Worker/CSS+JS/user-profile-edit.js"></script>
</body>

</html>

</html>