<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/VIEWS/Worker/CSS+JS/default.css">
    <link rel="stylesheet" href="/VIEWS/Worker/CSS+JS/worker-profile-edit.css">
    <title>ODDJOBS | BOOKINGS</title>
</head>

<body>
    <!-- HEADER SECTION -->
    <div class="header">
        <div class="inner_header">
            <a class="logo_container" href="/General/home/home.html">
                <div class="logo_box">
                    <h1>ODD<span>JOBS</span></h1>
                </div>
            </a>

            <ul class="nav">
                <li><a href="/VIEWS/Worker/services.html">SERVICES</a></li>
                <li><a href="/VIEWS/Worker/bookings.html">BOOKINGS</a></li>
                <li class="user-greeting"><a href="#">Hi, Johnny</a></li>
                <li class="pfp" tabindex="0">
                    <div class="dropdown">
                        <img src="/VIEWS/Worker/Images/Johnny.jpg" alt="User Profile" class="dropbtn">
                        <div class="dropdown-content">
                            <a href="user-profile.html">User Profile</a>
                            <a href="worker-profile.html">Worker Profile</a>
                            <a href="billings.html">Billings</a>
                            <a href="#">Switch to Customer view</a>
                            <div class="line"></div>
                            <a href="/General/home/home.html" class="signout">Log Out</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- END OF HEADER SECTION -->
    <div class="container">
        <a href="#" onclick="history.back();" class="back-button"> &larr; Back</a>
        <a href="worker-profile.html" class="edit-button">SAVE PROFILE</a>
        <div class="workers-profile-container">
            <div class="card-container">
                <div class="profile-card-container">
                    <div class="profile-imgbox">
                        <img src="/VIEWS/Worker/Images/Johnny.jpg ">
                    </div>
                    <div class="profile-card">
                        <h1>Johnny Del Mondo</h1>
                        <h2>Professional Line Standing</h2>
                        <div class="profile-description">
                            <textarea class="line-stander-input"
                                placeholder="Hi, I’m Johnny del Mondo and I’m a professional line-stander with 10+ years of experience. I can stand in line for you for any event, service, or product that you need. Whether it’s a concert, a movie premiere, a restaurant reservation, a product launch, or a government office, I can save you time and hassle by waiting in line for you. I’m reliable and punctual. I always show up on time and stay in line until you arrive. I never leave the line or switch places with someone else. You can trust me to hold your spot and update you on the progress of the line. 
                            &#10;If you need a professional line-stander, look no further than me. I’m the best in the business and I guarantee your satisfaction. Contact me today and let me stand in line for you. You won’t regret it."></textarea>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="ratings-card">
                    <h1>RATINGS</h1>
                    <div class="ratings">
                        <table>
                            <tr>
                                <td>
                                    <img src="/VIEWS/Worker/Images/icons/randomPerson.png">
                                </td>
                                <td>
                                    <h1>STEVE JONES</h1>
                                    <div class="stars">
                                        <span>★</span>
                                        <span>★</span>
                                        <span>★</span>
                                        <span>★</span>
                                        <span>★</span>
                                    </div>
                                    <h3>This guy is a GOD!, when I say God I am not exagerrating. He got to wait in line
                                        for 4 whole hours! He didnt move an inch!</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="/VIEWS/Worker/Images/icons/randomPerson.png">
                                </td>
                                <td>
                                    <h1>PAUL COOK</h1>
                                    <div class="stars">
                                        <span>★</span>
                                        <span>★</span>
                                        <span>★</span>
                                        <span>★</span>
                                        <span>★</span>
                                    </div>
                                    <h3>This guy.... amazing with the massage. Was able to get a happy ending too!</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="/VIEWS/Worker/Images/icons/randomPerson.png">
                                </td>
                                <td>
                                    <h1>SID VICIOUS</h1>
                                    <div class="stars">
                                        <span>★</span>
                                        <span>★</span>
                                        <span>★</span>
                                        <span>★</span>
                                        <span>★</span>
                                    </div>
                                    <h3>God save the queen! A blessing in disguise. Amazing at cleaning toilets, I can
                                        finally have my ass a good rest, or should I say, release! A good release!</h3>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="applied-jobs-card">
                    <h1>APPLIED JOBS</h1>
                    <div class="applied-jobs">
                        <table>
                            <tr>
                                <td class="descriptions">
                                    <img src="/VIEWS/Worker/Images/icons/suitcase.png">
                                    <div class="applied-jobs-descriptions">
                                        <h1>Professional Line Standing</h1>
                                        <h3>A professional line stander provides a service by holding your place in
                                            queues
                                            or lines,
                                            allowing you to attend to other matters.
                                        </h3>
                                    </div>
                                </td>
                                <td class="button-container">
                                    <a href="remove.html">Remove</a>
                                    <border></border>
                                    <a href="default.html" class="default">Default</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="descriptions">
                                    <img src="/VIEWS/Worker/Images/icons/suitcase.png">
                                    <div class="applied-jobs-descriptions">
                                        <h1>Massage Therapy</h1>
                                        <h3>Massage therapy is a holistic approach to health and wellness, utilizing hands-on techniques to promote relaxation, reduce stress, and alleviate muscle tension.
                                        </h3>
                                    </div>
                                </td>
                                <td class="button-container">
                                    <a href="remove.html">Remove</a>
                                    <border></border>
                                    <a href="default.html">Make Default</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</body>

</html>