/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
  background-color: #acacac !important;
}


/* START OF HEADER SECTION*/
.header{
  width:100%;
  height:100px;
  display: block;
  background-color: white;
  position: sticky; top: 0;
  z-index: 50;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.3);
}

.inner_header{
  width: 1300px;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

/* Logo */
.logo_container {
  height: 100%;
  display: table;
  float: left;
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center the content vertically */
}

.logo_box{
  width: 170px;
  background-color: #da4040;
  height:50%;
  display: table;
  float: left;
  border-radius: 10px;
  text-align: center; /* This centers the content horizontally */
}

.logo_container h1{
  color: white;
  height:100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.logo_container h1 span{
  color: #780D0D;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

/* Links and stuff */
.nav{
  float: right;
  height: 100%;
}

.nav li{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 10px;
}

.nav li:last-child{
  padding-right: 0px;
}

.nav li a{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: rgb(59, 59, 59);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav li a.active,
.nav li:hover a {
  color: rgb(233, 41, 41)!important;
}

/* Container */
.container{
    position: absolute;
    top: 100px; /* Adjust this value based on your header's height */
    left: 0;
    right: 0;
    bottom: 0;
}

a.back-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 40px;
  position: relative;
  margin: 20px 25px;
  z-index: 1; /* Ensure it's above other elements */
}


/*bookings-details*/
.booking-details-container{
  border-radius: 25px;
  background-color:white;
  width: 1250px;
  margin: 0 auto;
  text-align: center;
  padding-top:15px;
}

.booking-details-container h1{
  font-size:40px;
}

.status-container{
  margin-top:10px;
}

.status-icons-container{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.status-icons-container line{
  background-color: black;
  height:7px;
  width:125px;
}

.status-icons-container .imagebox{
  border: solid 7px;
  height: 50px;
  width: 50px;
  padding: 15px;
  border-radius: 50px;
}

.status-name-container{
  width:100%;
  display:flex;
  padding-top: 10px;
  align-items: center;
}

.status-name-container h1{
  font-weight: 500;
  font-size: 20px;
}

.status-name-container line{
  background-color: rgb(218, 97, 97);
}

.imagebox img{
  height: 50px;
  width: 50px;
}

.services-container{
  margin-top:20px;
  border-bottom: solid;
  border-top: solid;
  display: flex;
  align-items: center;
  padding: 15px 35px 15px 35px;
}

.services-container h1{
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 25px;
}

.services-container img{
  object-fit: cover;
  border-radius: 10px;
  border: solid 2.5px;
  width: 100px;
  height: 100px;
}

.services-details-container{
  display: flex; 
}

.services-details{
  text-align:left;
  display:block;
  padding: 20px 20px 30px 35px;
  border-right:solid;
}

.services-details h1{
  display:block;
  font-size: 25px;
  margin-bottom: 5px;
}

.services-details h2{
  display:block;
  font-weight: 500;
  font-size: 20px;
}
.services-details h3{
  display:block;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.2;
}

.services-details .booking{
  text-align:left;
  display:block;
  margin-bottom:10px;
}

.services-details .workers{
  text-align:left;
  display:block;
}

.workers .worker-name{
  text-align:left;
  display:flex;
  align-items: center;
}

.worker-name h2{
  border-right:solid 2px;
  padding-right: 10px;
}

.worker-name a{
  font-size: 10px;
  padding-left: 10px;
  color:black;
}

.worker-rating-container{
  margin-top:10px;
  display:flex;
  align-items: center;
}

.worker-rating {
  display: inline-block;
  position: relative;
  height: fit-content;
  line-height: 30px;
  font-size: 35px;
  padding-right: 5px;
}

.worker-rating-container button{
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
  border:solid .1px;
  cursor: pointer;
}

.worker-rating-container button:hover{
  background-color: rgb(209, 209, 209);
}

.worker-rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.worker-rating label:last-child {
  position: static;
}

.worker-rating label:nth-child(1) {
  z-index: 5;
}

.worker-rating label:nth-child(2) {
  z-index: 4;
}

.worker-rating label:nth-child(3) {
  z-index: 3;
}

.worker-rating label:nth-child(4) {
  z-index: 2;
}

.worker-rating label:nth-child(5) {
  z-index: 1;
}

.worker-rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.worker-rating label .icon {
  float: left;
  color: transparent;
}

.worker-rating label:last-child .icon {
  color: #000;
}

.worker-rating:not(:hover) label input:checked ~ .icon,
.worker-rating:hover label:hover input ~ .icon {
  color: #da4040;
}

.worker-rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

.services-breakdown{
  width:75%;
  padding:5px;
  text-align:left;
  display:block;
}

.services-breakdown table{
  width:100%;
  border-collapse: collapse;
}

.services-breakdown tr{
  border-bottom:solid 0.1px;
}

.services-breakdown th{
  font-size: 20px;
}

.services-breakdown td{
 text-align: end;
}


/*bookings-details*/

