/* Container */
.container{
    position: absolute;
    top: 150px; /* Adjust this value based on your header's height */
    left: 0;
    right: 0;
    bottom: 0;
}

a.back-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 40px;
  position: relative;
  margin: 20px 25px;
  z-index: 1; /* Ensure it's above other elements */
}

/*bookings*/
.booking-container{
  margin: 0 auto;
  width: 1250px;
  height: 100%;
}

.booking-container label{
  font-weight: bold;
  font-size: 40px;
}

.booking-container table{
  border-collapse: collapse;
  width:100%;
}

.booking-container tr{
  cursor:pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  display:flex;
  align-items: center;
  width: 1250;
  background-color: rgb(236, 236, 236);
  border-radius:10px;
  padding: 10px 35px 10px 35px;
  transition: 0.3s;
  color: black;
}

.booking-container tr:hover{
  background-color: white;
}

.booking-container td{
  padding:5px;
  align-items: center;
}


.booking-container .image{
  display:flex;
  padding-right:20px;
  height:86px;
  width:86px;
}

.booking-container .date-title{
  width:750px;
}

.booking-container .status{
  width:120px;
  background-color:#da4040;
  color:white;
  border-radius: 5px;
  text-align: center;
}

.booking-container .price{
  width:200px;
  display:flex;
  justify-content: end;
}


.image img{
  border-radius: 5px;
  border:solid 3px;
}

.booking-container h1,h2{
  text-transform: uppercase;
}

.booking-container img{
  height:80px;
  width:80px;
  object-fit: cover;
}


.booking-container h2{
  font-size: 15px;
  font-weight:500;
}

.booking-container h1{
  font-size: 30px;
}



/*bookings*/
.endSpace{
  height:50px;
  width:100%;
}