/* CONTAINERS */    
.allbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 100px);
    width: 100%;
}

.topbox, .bottombox {
    height: calc(50% - 2px);
    width: 100%;
    display: flex;
    justify-content: center;
}

.topbox{
    background-color: #acacac
}

.bottombox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.innerbox {
    display: flex;
    justify-content: center;
    width: 1700px;
}

.innerbox2 {
    display: flex;
    align-items: center;
}

/* BANNER */
.banner {
    margin: 20px;
    margin-right: 10px;
}

.banner .image {
    height: 330px;
    width: 700px;
    background-color: white;
    border-radius: 10px;
}

.banner .image img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid black;
}

.content-row {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

/* ORDER */
.order-details .order {
    width: calc(230px - 60px);
    height: calc(330px - 60px);
    display: block;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
    border: 2px solid black;
}

.order .image {
    background-color: grey;
    border-radius: 5px;
    margin-right: 5px;
    width: 90px;
    height: 30px;
}

.order .image img {
    border-radius: 5px;
    object-fit: cover;
    width: 90px;
    height: 30px;
}

.order label {
    text-transform: uppercase;
    padding: 2px!important;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
}

.order h1 {
    text-align: center;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.order span {
    font-weight: 300;
    text-transform: lowercase;
}

.order .input, select {
    padding: 3px!important;
    width: 90%;
    outline: none;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.content-row button{
    width: 40px;
    cursor: pointer;
}

.content-row label[for="payment"] {
    margin-top: 16px!important;
}

.content-row select[name="payment"] {
    margin-top: 16px!important;
    height: 35px;
}

.content-row select, .content-row option {
    font-family: "FontAwesome", sans-serif;
    font-size: 15px;
}

.content-col{
    margin-top: 5px;
}

.input-box {
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 10px;
    text-align: center;
}

/* BOOKING */
.booking-details .booking {
    width: calc(390px - 60px);
    height: calc(330px - 60px);
    background-color: white;
    border-radius: 10px;
    display: block;
    margin: 20px;
    margin-left: 10px;
    padding: 30px;
    border: 2px solid black;
}

.booking-details .booking table {
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}

.booking-details h1 {
    text-align: center;
    border-bottom: 2px solid black;
    margin-bottom: 15px!important;
}

.booking th, td {
    width: 50%;
    padding:7px!important;
    font-size: 15px!important;
}

.booking th {
    width: 40%!important;
    font-weight: 600!important;
}

.booking button {
    padding: 5px;
    width: 130px;
    height: 33px;
    border-radius: 10px;
    background-color: #da4040;
    border: none;
    color: white;
    transition: background-color 0.5s!important;
}

.booking button:hover {
    background-color: #921818;
    cursor: pointer;
}

.duration {
    border-bottom: 2px solid black;
}

/* DESCRIPTION */
.description-container {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
}

.description {
    margin-top: 40px;
    width: 100%;
}

.description h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.description p {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 300;
}

.description .selector {
    border-bottom: 4px solid rgba(0, 0, 0, 0.185);
    margin-bottom: 10px;
}

.description .selector button {
    font-size: 22px;
    margin-right: 30px;
    width: 130px;
    color: gray;
    transition: 0.5 ease-in-out;
}

.description .selector button:hover {
    background-color: none;
    background: none;
    border-bottom: 4px solid rgb(36, 36, 36);
}

.description .selector button[class="active-selector"] {
    color: black;
    border-bottom: 4px solid rgb(36, 36, 36);
}

.description li {
    font-size: 18px;
    list-style: disc;
    line-height: 40px;
    margin-left: 30px;
    font-weight: 600;
    padding: 0px;
}


.selector {
    border-bottom: solid rgb(151, 151, 151);
    width: 1190px;
  }
  
  .description button {
    outline: none;
    background-color: white;
    border: none;
    height: 50px;
    font-size: 15px;
    padding: 10px;
    transition: background-color 0.5s;
  }
  
  .description button:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
  }
  
  .overview-specifics-policies {
    padding: 3px;
    width: 1185px;
  }
  
  .overview-specifics-policies h1 {
    font-size: 20px;
  }
  
  .overview-specifics-policies li {
    font-weight: 400;
    padding-left: 10px;
  }
  
  .booking-details th{
    font-size: 16px;
  }

@media (min-width: 2560px) {
    .topbox, .bottombox{
        zoom: 120%; /* Adjust the zoom value accordingly */
    }
}
