/* Container */
.container{
  position: absolute;
  top: 175px; /* Adjust this value based on your header's height */
  left: 0;
  right: 0;
  bottom: 0;
}

/* BACK BUTTON */
a.back-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 40px;
  position: relative;
  margin: 20px 25px;
  z-index: 1; /* Ensure it's above other elements */
}

.services-container{
  margin: 0 auto;
  width:1500px;
  background-color: white;
  padding: 20px 0px 5px 0px;
  border-radius:5px;
}

.services-header{
  padding:5px 40px 20px 40px;
  display:flex;
  align-items: center;
}

.services-header button{
  text-transform: uppercase;
  padding:7px 25px 7px 25px;
  cursor:pointer;
  outline:none;
  border:solid 1px;
  border-radius:2.5px;
  background-color: #F2F2F2;
  transition: background-color .5s;
  margin:0 auto;
}

.services-header button:hover{
  background-color: #d8d8d8;
}

.services-header .search{
  border:solid grey 2px;
  padding:5px 25px 5px 25px;
  border-radius: 25px;
  text-align: center;
  display:flex;
  margin-left:auto;
}

.search img{
  width:25px;
}

.search input{
  width:115px;
  margin-left:20px;
  border:none;
  outline:none;
}


.services{
  overflow: scroll;
  width:100%;
  border-collapse: collapse;
}

.services th,td{
  text-align: left;
  padding:15px 40px 15px 40px;
}

.services th{
  background-color: #F2F2F2;
  font-size:20px;
}

th select{
  background-color: #F2F2F2;
  border:none;
  cursor:pointer;
  text-transform: uppercase;
}

td a{
  font-size: 15px;
  color: black;
}

.service-img{
  width:30px;
  height:30px;
  background-color: #d8d8d8;
  margin-right:10px;
  border-radius:30px;
}

.service-name-icon{
  display:flex;
  align-items: center;
}

.button-container{
  display:flex;
  align-items: center;
  justify-content: end;
}

.button-container button{
  display:flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 15px 5px 5px;
  border:solid black 1px;
  border-radius: 5px;;
  outline:none;
  background-color: #F2F2F2;
  text-transform: capitalize;
  margin-left:10px;
  margin-right:10px;
  transition: background-color .5s;
}

.button-container button:hover{
  background-color: #d8d8d8;
}

.button-container button img{
  width:20px;
  margin-right: 15px;
}

.navigation{
  padding:15px 40px 15px 40px;
  background-color: white;
  display:flex;
  align-items: center;
}

.navigation h2{
  font-weight:300;
  font-size:15px;
}

.forward-back{
  margin-left: auto;
  justify-content: end;
  align-items: center;
  display:flex;
  width:500px;
}

.forward-back button{
  display:flex;
  width:25px;
  justify-content: center;
  align-items: center;
  border:none;
  background-color: white;
  margin-left:10px;
  cursor:pointer;
}

.forward-back button img{
  width:25px;
}


