<!DOCTYPE html>
<html lang="en">
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/VIEWS/Admin/CSS+JS/default.css">
  <link rel="stylesheet" href="/VIEWS/Admin/CSS+JS/admin-profile-edit.css">
  <title>ODDJOBS | PROFILE</title>
</head>

<body>
  <!-- HEADER SECTION -->
  <div class="header">
    <div class="inner_header">
      <a class="logo_container" href="/General/home/home.html">
        <div class="logo_box">
          <h1>ODD<span>JOBS</span></h1>
        </div>
      </a>

      <ul class="nav">
        <li><a href="/VIEWS/Admin/services-management.html">SERVICE MANAGEMENT</a></li>
        <li><a href="/VIEWS/Admin/user-management.html">USER MANAGEMENT</a></li>
        <li class="user-greeting"><a href="#">Hi, Beneditto</a></li>
        <li class="pfp" tabindex="0">
          <div class="dropdown">
            <img src="/General/home/Images/team/ditto.jpg" alt="User Profile" class="dropbtn">
            <div class="dropdown-content">
              <a href="admin-profile.html">User Profile</a>
              <div class="line"></div>
              <a href="/General/home/home.html" class="signout">Log Out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- END OF HEADER SECTION -->

  <a href="profile-customer-edit.html" onclick="" class="report-button">REPORT</a>
  <div class="container">
    <!-- USER CARD -->
    <form>
      <div class="user-card">
        <div class="profile-pic">
          <div class="centerer">
            <label for="fileInput1" class="styled-input" id="label1"onclick="document.getElementById('fileInput1').click(); return false;">
              Upload Photo
            </label>
            <input type="file" id="fileInput1" class="file-input" style="display: none;" />
            <img src="/General/home/Images/team/ditto.jpg">
          </div>
        </div>
        <div class="labels">
          <h2>Beneditto Alfonso A. Tiu</h2>
          <h3>Customer from Lapu-Lapu City</h3>
      </div>
      <div class="icons"></div>
        <div class="edit-button-box">
          <a href="admin-profile.html" class="edit-button">
            <p>SAVE PROFILE</p>
          </a>
        </div>
        <div class="user-info">
          <div class="user-info-box">
            <div class="input-field">
              <h3>Edit your account details:</h3>
              <input type="url" placeholder="Facebook Link" autocomplete="nope" />
              <input type="url" placeholder="Instagram link" autocomplete="nope" />
              <input type="email" placeholder="Email" autocomplete="nope" />
              <input id="phone"  type="tel" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Phone Number" autocomplete="nope">
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </form>
  <script src="/VIEWS/Admin/CSS+JS/admin-profile-edit.js"></script>
</body>
</html>