<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/VIEWS/Admin/CSS+JS/default.css">
  <link rel="stylesheet" href="/VIEWS/Admin/CSS+JS/saved-service.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>ODDJOBS | EDIT PROFILE</title>
</head>

<body>
  <!-- HEADER SECTION -->
  <div class="header">
    <div class="inner_header">
      <a class="logo_container" href="/General/home/home.html">
        <div class="logo_box">
          <h1>ODD<span>JOBS</span></h1>
        </div>
      </a>

      <ul class="nav">
        <li><a href="/VIEWS/Admin/services-management.html">SERVICE MANAGEMENT</a></li>
        <li><a href="/VIEWS/Admin/user-management.html">USER MANAGEMENT</a></li>
        <li class="user-greeting"><a href="#">Hi, Beneditto</a></li>
        <li class="pfp" tabindex="0">
          <div class="dropdown">
            <img src="/General/home/Images/team/ditto.jpg" alt="User Profile" class="dropbtn">
            <div class="dropdown-content">
              <a href="admin-profile.html">User Profile</a>
              <div class="line"></div>
              <a href="/General/home/home.html" class="signout">Log Out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- END OF HEADER SECTION -->
  <a href="#" onclick="history.back();" class="back-button"> &larr; Back</a>
  <a href="#" onclick="history.back();" class="edit-button">EDIT SERVICE</a>
  <div class="container">
    <div class="service-container">
      <div class="service-name-card">
        <h1 class="serviceName">MASSAGE THERAPY</h1>
        <hr>
        <h1 class="shortDescription">Indulge in blissful relaxation with our professional in-home massage service, tailored to your needs and delivered right to your doorstep.</h1>
      </div>
      <div class="service-details">
        <div class="service-details-container1">
          <div class="specifics">
            <h1>SPECIFICS</h1>
            <p>Massage therapy involves manipulating the body's soft tissues to alleviate stress, tension, and discomfort, offering numerous benefits for both the body and the mind.<br><br>      
              
            Our service offers tailored massage therapy options, providing a tranquil and rejuvenating experience through techniques like Swedish massage and deep tissue treatment.
            <br><br>  
            At our service, we prioritize our clients' well-being by offering a range of tailored massage therapy options. Our licensed therapists are dedicated to providing a tranquil and rejuvenating experience, whether through a soothing Swedish massage or a targeted deep tissue treatment. Each person's body is unique, and our therapists are adept at customizing their approach to address specific concerns, ensuring personalized care and attention.
            <br><br>  
            Regular massage therapy can reduce anxiety, improve sleep quality, and enhance overall mood, contributing to long-term health and wellness.</p>
          </div>
        </div>
        <div class="service-details-container2">
          <div class="summary">
            <h1>SUMMARY</h1>
            <div class="summaryContent">
              <div class="summaryInputs">
                <label for="base-price">Base Price:</label><br>
                <h1>₱1000.00</h1>
              </div>
              <div class="summaryInputs">
                <label for="service-type">Service Type:</label><br>
                <h1>Duration</h1>
              </div>
              <div>       
                <div class="policies">
                  <h1>Policies:</h1>
                  <a href="#">policy.pdf<a>
                </div>
              </div>
            </div>
            <div class="summaryImages">
              <h1>Upload Files:</h1>
              <div class="upload-boxes">
                <div class="upload-image">
                  <img src="icons/samplePhoto.png">
                </div>
                <div class="upload-banner">
                  <img src="icons/samplePhoto.png">
                </div>
              </div>
            </div>
          </div>
          <div class="overview">
            <h1>OVERVIEW</h1>
            <p>What does this service provide?<br>
              <br>Skilled therapists delivering therapeutic techniques
              <br>Convenient in-home massages tailored to you
              <br>Relaxation and stress reduction
              <br>Relief from muscle tension and pain</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>