<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/VIEWS/Admin/CSS+JS/default.css">
  <link rel="stylesheet" href="CSS+JS/services-management.css">
  <title>ODDJOBS | FORGOT PASSWORD</title>
</head>
<body>
    <!-- HEADER SECTION -->
    <div class="header">
      <div class="inner_header">
          <a class="logo_container" href="/General/home/home.html">
              <div class="logo_box">
                  <h1>ODD<span>JOBS</span></h1>
              </div>
          </a>
          <ul class="nav">
              <li><a href="/VIEWS/Admin/admin-log.html">ADMIN LOG</a></li>
              <li><a href="/VIEWS/Admin/applications.html">APPLICATION</a></li>
              <li><a href="/VIEWS/Admin/services-management.html">SERVICE MANAGEMENT</a></li>
              <li><a href="/VIEWS/Admin/user-management.html">USER MANAGEMENT</a></li>
              <li class="user-greeting"><a href="#">Hi, Beneditto</a></li>
              <li class="pfp" tabindex="0">
                  <div class="dropdown">
                      <img src="/General/home/Images/team/ditto.jpg" alt="User Profile" class="dropbtn">
                      <div class="dropdown-content">
                          <a href="admin-profile.html">User Profile</a>
                          <div class="line"></div>
                          <a href="/General/home/home.html" class="signout">Log Out</a>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
  </div>
  <!-- END OF HEADER SECTION -->
  <div class="container">
    <div class="services-container">
      <div class="services-header">
        <h1>SERVICES</h1>
        <button onClick="document.location.href='create-service.html';">create a service</button>
        <div class="search">
          <img src="icons/magnifying-glass.png">
          <input type="text" placeholder="search services">
        </div>
      </div>
      <table class="services">
        <tr>
          <th>No</th>
          <th>Services</th>
          <th>Manage</th>
          <th style="text-align: end;">
            <select name="sort" id="sort">
              <option value="volvo">Sort By Name</option>
            </select>
          </th>
        </tr>
        <tr>
          <td>1</td>
          <td>
            <div class="service-name-icon">
              <div class="service-img"></div>
              Chauffeur
            </div>
          </td>
          <td><a href="#">View Workers</a></td>
          <td style="text-align: end;">
            <div class="button-container">
              <a href="edit-service.html"><button><img src="icons/pen.png">edit</button></a>
              <button><img src="icons/view.png">visible</button>
              <button><img src="icons/traffic-signal.png">remove</button>
              <input type="radio">
            </div>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>
            <div class="service-name-icon">
              <div class="service-img"></div>
              Chauffeur
            </div>
          </td>
          <td><a href="#">View Workers</a></td>
          <td style="text-align: end;">
            <div class="button-container">
              <a href="edit-service.html"><button><img src="icons/pen.png">edit</button></a>
              <button><img src="icons/view.png">visible</button>
              <button><img src="icons/traffic-signal.png">remove</button>
              <input type="radio">
            </div>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>
            <div class="service-name-icon">
              <div class="service-img"></div>
              Chauffeur
            </div>
          </td>
          <td><a href="#">View Workers</a></td>
          <td style="text-align: end;">
            <div class="button-container">
              <a href="edit-service.html"><button><img src="icons/pen.png">edit</button></a>
              <button><img src="icons/view.png">visible</button>
              <button><img src="icons/traffic-signal.png">remove</button>
              <input type="radio">
            </div>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>
            <div class="service-name-icon">
              <div class="service-img"></div>
              Chauffeur
            </div>
          </td>
          <td><a href="#">View Workers</a></td>
          <td style="text-align: end;">
            <div class="button-container">
              <a href="edit-service.html"><button><img src="icons/pen.png">edit</button></a>
              <button><img src="icons/view.png">visible</button>
              <button><img src="icons/traffic-signal.png">remove</button>
              <input type="radio">
            </div>
          </td>
        </tr>
        <tr>
          <td>5</td>
          <td>
            <div class="service-name-icon">
              <div class="service-img"></div>
              Chauffeur
            </div>
          </td>
          <td><a href="#">View Workers</a></td>
          <td style="text-align: end;">
            <div class="button-container">
              <a href="edit-service.html"><button><img src="icons/pen.png">edit</button></a>
              <button><img src="icons/view.png">visible</button>
              <button><img src="icons/traffic-signal.png">remove</button>
              <input type="radio">
            </div>
          </td>
        </tr>
        <tr>
          <td>6</td>
          <td>
            <div class="service-name-icon">
              <div class="service-img"></div>
              Chauffeur
            </div>
          </td>
          <td><a href="#">View Workers</a></td>
          <td style="text-align: end;">
            <div class="button-container">
              <a href="edit-service.html"><button><img src="icons/pen.png">edit</button></a>
              <button><img src="icons/view.png">visible</button>
              <button><img src="icons/traffic-signal.png">remove</button>
              <input type="radio">
            </div>
          </td>
        </tr>
        <tr>
          <td>7</td>
          <td>
            <div class="service-name-icon">
              <div class="service-img"></div>
              Chauffeur
            </div>
          </td>
          <td><a href="#">View Workers</a></td>
          <td style="text-align: end;">
            <div class="button-container">
              <a href="edit-service.html"><button><img src="icons/pen.png">edit</button></a>
              <button><img src="icons/view.png">visible</button>
              <button><img src="icons/traffic-signal.png">remove</button>
              <input type="radio">
            </div>
          </td>
        </tr>
        <tr>
          <td>8</td>
          <td>
            <div class="service-name-icon">
              <div class="service-img"></div>
              Chauffeur
            </div>
          </td>
          <td><a href="#">View Workers</a></td>
          <td style="text-align: end;">
            <div class="button-container">
              <a href="edit-service.html"><button><img src="icons/pen.png">edit</button></a>
              <button><img src="icons/view.png">visible</button>
              <button><img src="icons/traffic-signal.png">remove</button>
              <input type="radio">
            </div>
          </td>
        </tr>
        <tr>
          <td>9</td>
          <td>
            <div class="service-name-icon">
              <div class="service-img"></div>
              Chauffeur
            </div>
          </td>
          <td><a href="#">View Workers</a></td>
          <td style="text-align: end;">
            <div class="button-container">
              <a href="edit-service.html"><button><img src="icons/pen.png">edit</button></a>
              <button><img src="icons/view.png">visible</button>
              <button><img src="icons/traffic-signal.png">remove</button>
              <input type="radio">
            </div>
          </td>
        </tr>
      </table>
      <div class="navigation">
        <h2>Rows per page: 9</h2>
        <div class="forward-back">
          <h2>1-9 of 10 items</h2>
          <button><img src="icons/back.png"></button>
          <button><img src="icons/next.png"></button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>