<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/VIEWS/Admin/CSS+JS/default.css">
    <link rel="stylesheet" href="/VIEWS/Admin/CSS+JS/userManagement.css">
    <title>ODDJOBS | FORGOT PASSWORD</title>
  </head>
  <body>
  <!-- HEADER SECTION -->
  <div class="header">
    <div class="inner_header">
      <a class="logo_container" href="/General/home/home.html">
        <div class="logo_box">
          <h1>ODD<span>JOBS</span></h1>
        </div>
      </a>

      <ul class="nav">
        <li><a href="/VIEWS/Admin/services-management.html">SERVICE MANAGEMENT</a></li>
        <li><a href="/VIEWS/Admin/user-management.html">USER MANAGEMENT</a></li>
        <li class="user-greeting"><a href="#">Hi, Beneditto</a></li>
        <li class="pfp" tabindex="0">
          <div class="dropdown">
            <img src="/General/home/Images/team/ditto.jpg" alt="User Profile" class="dropbtn">
            <div class="dropdown-content">
              <a href="admin-profile.html">User Profile</a>
              <div class="line"></div>
              <a href="/General/home/home.html" class="signout">Log Out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- END OF HEADER SECTION -->
  <a href="#" onclick="history.back();" class="back-button"> &larr; Back</a>
    <div class="container">
        <div class="services-container">
          <div class="services-header">
            <h1>JOHNNY DEL MONDO REPORTS</h1>
            <div class="search">
              <img src="icons/magnifying-glass.png">
              <input type="text" placeholder="search services">
            </div>
          </div>
          <table class="services">
            <tr>
              <th style="width:100px;">No</th>
              <th style="width:300px;">User</th>
              <th style="width:800px;">Description</th>
            </tr>
            <tr>
              <td>1</td>             
              <td>
                <div class="service-name-icon">
                  <div class="service-img">
                  </div>
                    Angry Individual
                </div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>2</td>             
              <td>
                <div class="service-name-icon">
                  <div class="service-img">
                  </div>
                    Angry Individual
                </div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>3</td>             
              <td>
                <div class="service-name-icon">
                  <div class="service-img">
                  </div>
                    Angry Individual
                </div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>4</td>             
              <td>
                <div class="service-name-icon">
                  <div class="service-img">
                  </div>
                    Angry Individual
                </div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>5</td>             
              <td>
                <div class="service-name-icon">
                  <div class="service-img">
                  </div>
                    Angry Individual
                </div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>6</td>             
              <td>
                <div class="service-name-icon">
                  <div class="service-img">
                  </div>
                    Angry Individual
                </div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>7</td>             
              <td>
                <div class="service-name-icon">
                  <div class="service-img">
                  </div>
                    Angry Individual
                </div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>8</td>             
              <td>
                <div class="service-name-icon">
                  <div class="service-img">
                  </div>
                    Angry Individual
                </div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>9</td>             
              <td>
                <div class="service-name-icon">
                  <div class="service-img">
                  </div>
                    Angry Individual
                </div>
              </td>
              <td>
              </td>
            </tr>
          </table>
          <div class="navigation">
            <h2>Rows per page: 9</h2>
            <div class="forward-back">
              <h2>1-9 of 10 items</h2>
              <button><img src="icons/back.png"></button>
              <button><img src="icons/next.png"></button>
            </div>
          </div>
        </div>
    </div>
</body>
</html>