/* Container */
.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px; /* Adjust this value based on your header's height */
    left: 0;
    right: 0;
    bottom: 0;
}

a.back-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 40px;
  position: relative;
  margin: 20px 25px;
  z-index: 1; /* Ensure it's above other elements */
}


/*bookings-details*/
.booking-details-container{
  border-radius: 25px;
  background-color:white;
  width: 1250px;
  margin: 0 auto;
  text-align: center;
  border: 5px solid green;
}

.booking-details-container h1{
  font-size:40px;
}

.booking-details-container .completed{
  margin-top: 40px;
  font-weight: 700;
  color: green;
}

.status-container{
  margin-top:15px;
}

.status-icons-container{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.status-icons-container hr{
  border:none;
  background-color: black;
  height:7px;
  width:125px;
}

.status-icons-container .imagebox{
  border: solid 7px;
  height: 50px;
  width: 50px;
  padding: 15px;
  border-radius: 50px;
}

.status-name-container{
  width:100%;
  display:flex;
  align-items: center;
  margin-top: 15px;
}

.status-name-container h1{
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-name-container h1 a{
  color: rgb(0, 0, 0);
  background-color: #D9D9D9;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 15px;
  margin-top: 10px;
}
.status-name-container h1 a:hover{
  background-color: #bbbbbb;
}


.status-name-container line{
  background-color: rgb(218, 97, 97);
}

.imagebox img{
  height: 50px;
  width: 50px;
}

.services-container{
  margin-top:20px;
  margin-bottom:0px;
  border-bottom: solid;
  border-top: solid;
  width:1210px;
  display: flex;
  align-items: center;
  padding: 15px 0px 15px 35px;
}

.services-container h1{
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 25px;
}

.services-container img{
  object-fit: cover;
  border-radius: 10px;
  border: solid 2.5px;
  width: 100px;
  height: 100px;
}

.services-details-container{
  display: flex; 
}

.services-details{
  text-align:left;
  display:flex;
  flex-direction: column;
  padding: 30px 20px 30px 35px;
  margin-right: 50px;
  width: 400px;
}

.services-details h1{
  display:block;
  font-size: 25px;
  margin-bottom: 5px;
}

.services-details h2{
  display:block;
  font-weight: 500;
  font-size: 20px;
}
.services-details h3{
  display:block;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.2;
}

.services-details .booking{
  text-align:left;
  display:block;
  margin-bottom:10px;
}

.services-details .workers{
  text-align:left;
  display:block;
}

.workers .worker-name{
  text-align:left;
  display:flex;
  align-items: center;
}

.worker-name h2{
  padding-right: 10px;
}

.worker-name a{
  font-size: 10px;
  padding-left: 5px;
  color:black;
}

.ratingForm{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.star-rating {
  font-size: 20px;
  width: 50%;
}

.fa-regular {
  color: #ddd;
  cursor: pointer;
}

.fa-star {
  transition: color 0.3s;
}

.fa-star.solid,
.fa-star:hover {
  color: gold;
}

.ratingForm button{
  padding: 2px 15px;;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #fb6356;
  color: white;
  cursor: pointer;
}

.services-breakdown{
  width:75%;;
  text-align:left;
  display:block;
}

.services-breakdown table{
  width:100%;
  border-collapse: collapse;
}

.services-breakdown th{
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  border-left: solid;
  border-right: 1px solid black;
}

.services-breakdown .row3 th{
  border-bottom: none;
  padding: 10px 0px;
}

.services-breakdown .row3-end th, .row3-end td{
  border-bottom: 1px solid black;
  padding: 10px 0px;
}

.normalth th, .normalth td{
  padding: 16px 0px;
  border-bottom: 1px solid black;
}

.last-two-rows th, .last-two-rows td{
  padding: 10px 0px;
  border-bottom: 1px solid black;
}

.last-two-rows p{
  font-size: 12px;
}

.services-breakdown td{
  font-size: 15px;
  padding-right: 30px;
  text-align: end;
  font-weight: 500;
}

/*bookings-details*/

.booking h2 a{
  font-size: 10px;
  padding-left: 5px;
  color: black;
  margin-left: 10px;  
}

.booking h2{
  display: flex;
  align-items: center;
  margin-right: 20px;
}