/* Container */
.container {
    position: absolute;
    top: 100px;
    /* Adjust this value based on your header's height */
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BACK BUTTON */
a.report-button {
    display: absolute;
    top: 30px;
    padding: 12px 40px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 40px;
    position: relative;
    margin: 20px 25px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    font-weight: 600;
}

/* USER CARD */
.user-card {
    height: 670px;
    width: 500px;
    background-color: #FB6356;
    border-radius: 180px 180px 150px 150px;
}

.profile-pic {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 50px;
}

.profile-pic img {
    max-width: 170px;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
}

.centerer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.styled-input{
    background-color: #FB6356;
    color: #ffffff;
    border: none; 
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    max-width:170px;
    padding: 10px;
    transition: 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.styled-input:hover{
    background-color: rgb(196, 61, 61)
}

.edit-button-box {
    height: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-button {
    display: absolute;
    padding: 13px 40px;
    background-color: #ffffff;
    color: #FB6356;
    text-decoration: none;
    border-radius: 40px;
    position: relative;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.edit-button p {
    font-weight: 600;
}

.user-info {
    height: 72%;
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 150px;
}

.user-info-box {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-info-box h3 {
    font-weight: 600;
    color: gray;
}

.user-info-box li {
    list-style-type: disc;
    font-size: 14px;
    margin: 10px;
    font-weight: 400;
}

/* FORMS */
.input-field {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field input,
.input-field select {
    display: block;
    width: 100%; /* Use a percentage width to adapt to the container */
    border: 0;
    border-bottom: 2px solid #747474;
    outline: none;
    transition: all 0.2s;
    color: #757575;
    margin: 10px;
    font-size: 15px;
}

.input-field h4{
    display: block;
    width: 100%; /* Use a percentage width to adapt to the container */
    border: 0;
    outline: none;
    transition: all 0.2s;
    color: #757575;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
}

.input-field-select, .input-field-select-rowtwo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field input:focus,
.input-field select:focus {
    border-color: #222;
}

form {
    all: unset;
}
